.box {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  background-color: red;
  color: #fff;
  font-size: 3rem;
  /* 1. Rotate */
  rotate: 90deg;
  transition: 2s;
  /* 2. Scale */
  /* nhập 2 đối số */
  /* 3. Skew */
  /* nghiêng cạnh trái phải (theo chiều X, Y) */
}

.box:hover {
  transform: rotate(360deg) scale(1.5, 1.5) skew(20deg, 10deg)
    translate(-50%, 100px);
}
