/* 1. Thẻ parent và thẻ child không có font-size
--> Lấy theo font-size root (HTML) */
/* .child {
  font-size: 10px;
  width: 10em;
  height: 10em;
  background-color: sandybrown;
}

.parent {
  font-size: 30px;
  font-size: 2em;
} */

.parent {
  font-size: 10px;
}

.child {
  font-size: 2em;
  width: 2em;
  height: 2em;
  background-color: yellowgreen;
}
