.mess_icon a {
  font-size: 2rem;
  color: #0078ff;
  position: fixed;
  right: 0px;
  bottom: 50px;
}

.nav {
  background: #555;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  /* có cách thay thế */
  /* inset: 0px 0px 0px 100px; */
}

/* tác động các thẻ li */
.nav li {
  display: inline;
}

/* tác động đến các thẻ a */
.nav a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

h1 {
  margin-top: 51px;
}
