body {
  font-family: "Playwrite BE VLG", cursive;
}

p {
  font-family: "Playwrite DK Uloopet", cursive;
  text-align: center;
  /* font-weight: 400; */
  font-size: 40px;
  line-height: 1.5;
  line-height: 150%;
  /* line-height: 24px; */
}

h2 {
  text-align: end;
  height: 120px;
  background-color: cornflowerblue;
  line-height: 120px;
}
